
# vim temporary files
*.sw[op]

# a link to the compile_commands.json in one of the build directories
compile_commands.json

subprojects/Criterion/
subprojects/debugbreak/
subprojects/doc/
subprojects/glib-2.76.1/
subprojects/klib/
subprojects/nanopb/
subprojects/debugbreak.wrap
subprojects/klib.wrap
subprojects/nanopb-cmake.wrap
